<!-- add_project.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript">
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
        window.location.replace("{{ url_for('start_page') }}");  // Redirect to start_page.html after logout
    });
</script>
</head>


<body>
    <nav>
    
        <a href="{{ url_for('projects') }}">Projects</a>
    
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>

    <h1>Add Project</h1>
    <form method="post" action="{{ url_for('add_project') }}">
        <label for="project_name">Project Name:</label>
        <input type="text" name="project_name" required>

        <label for="project_description">Project Description:</label>
        <textarea name="project_description" required></textarea>

        <input type="submit" value="Add Project">
    </form>
</body>

</html>